.cell{
  margin: 0;
  padding: 0;
  gap:0;
  width:10px;
  height:10px;
  background-color: black;
  border-radius: 2.5px;
}

.header-link{
  color:white;
  text-decoration: none;
}

.card-header{
  background-color: rgb(14, 12, 12);
}

.bg-black{
  background-color: black;
}

.gameBoard{
  border: 1px solid white;
}

.alive:hover{
  background-color: rgb(33, 213, 219);
}

.dead:hover{
  background-color: rgb(255, 63, 5);
}

.alive{
  background-color: white
}

.dead{
  background-color: black;
}