@font-face {
  font-family: Cumiskat;
  src: url('./assets/fonts/Cumiskat.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Birthday;
  src: url('./assets/fonts/Birthday.ttf');
  font-weight: 400;
}

/* *{
  margin:0;
  padding:0;
} */
/* 
body{
  font-family: 'Birthday',sans-serif !important;
} */